{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>Welcome to <strong>{{ .Site.Params.page }}</strong>! </h3>
        <h3>This site is dedicated to fMRI, neuroscience, and cognitive research.</h3>
        <h3>You can find <a href="{{ .Site.BaseURL }}tutorials/"> tutorials </a> on various programs, research about the benefits of <a href="{{ .Site.BaseURL }}science-and-yoga/">  yoga</a>, information <a href="{{ .Site.BaseURL }}about-me/"> about me</a>, and my <a href="{{ .Site.BaseURL }}research-blog/"> research</a>. </h3>
        <h3>Contact me using the links below or visit the <a href="mailto:{{ .Site.Params.site.cnapslab }}"> CNAPs Lab website</a>, where I am currently completing my PhD work.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
